# Dependencies
node_modules/
jspm_packages/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Env
.env
.env.*

# Build/cache
dist/
build/
.cache/
.npm
.eslintcache

# Test coverage
coverage/
nyc_output/

# Temp
tmp/
temp/

# Sentry
.sentryclirc

# Swagger autogen
swagger-generated/
